@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
body {
  font-family: "Barlow", sans-serif;
}

.features-main {
  min-height: 100vh;
  position: relative;
  background-color: black;
  z-index: 0;
  overflow-y: auto;
}

.lefttwo {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  top: 180px;
}

.logocard {
  width: 60%;
  height: 200px;
  border-radius: 20px;
  background: transparent;
  color: aliceblue;
  padding: 20px;
}

.logoloop {
  overflow: hidden;
  width: 50%;
  min-height: 10vh;
  position: relative;
}

.videocard {
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 200px;
  background: transparent;
  color: aliceblue;
  border-radius: 10px;
  flex: 3;
}

.videocard-2 {
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 200px;
  background: transparent;
  color: aliceblue;
  border-radius: 10px;
  flex: 7;
}

.videoplayback {
  position: relative;
  top: 10%;
  left: 5%;
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 200px;
}
