@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
}
